.player-card {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
  }
  .player-photo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .civs-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 4px;
    transform: translate(30%, 30%);
  }
  .civ-icon {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }
  .player-info {
    text-align: center;
    margin-top: 10px;
  }

  .collection .collection-item.avatar {
    min-height: 0 !important;
    }